$mt-amber-50:#fff8e1;
$mt-amber-100:#ffecb3;
$mt-amber-200:#ffe082;
$mt-amber-300:#ffd54f;
$mt-amber-400:#ffca28;
$mt-amber-500:#ffc107;
$mt-amber-600:#ffb300;
$mt-amber-700:#ffa000;
$mt-amber-800:#ff8f00;
$mt-amber-900:#ff6f00;
$mt-amber-a100:#ffe57f;
$mt-amber-a200:#ffd740;
$mt-amber-a400:#ffc400;
$mt-amber-a700:#ffab00;
.mt-amber-50 {
    color: $mt-amber-50;
}

.bg-mt-amber-50 {
    color: $mt-amber-50;
}

.hover-bg-mt-amber-50:hover {
    color: $mt-amber-50;
}

.hover-mt-amber-50:hover {
    color: $mt-amber-50;
}

.mt-amber-100 {
    color: $mt-amber-100;
}

.bg-mt-amber-100 {
    color: $mt-amber-100;
}

.hover-bg-mt-amber-100:hover {
    color: $mt-amber-100;
}

.hover-mt-amber-100:hover {
    color: $mt-amber-100;
}

.mt-amber-200 {
    color: $mt-amber-200;
}

.bg-mt-amber-200 {
    color: $mt-amber-200;
}

.hover-bg-mt-amber-200:hover {
    color: $mt-amber-200;
}

.hover-mt-amber-200:hover {
    color: $mt-amber-200;
}

.mt-amber-300 {
    color: $mt-amber-300;
}

.bg-mt-amber-300 {
    color: $mt-amber-300;
}

.hover-bg-mt-amber-300:hover {
    color: $mt-amber-300;
}

.hover-mt-amber-300:hover {
    color: $mt-amber-300;
}

.mt-amber-400 {
    color: $mt-amber-400;
}

.bg-mt-amber-400 {
    color: $mt-amber-400;
}

.hover-bg-mt-amber-400:hover {
    color: $mt-amber-400;
}

.hover-mt-amber-400:hover {
    color: $mt-amber-400;
}

.mt-amber-500 {
    color: $mt-amber-500;
}

.bg-mt-amber-500 {
    color: $mt-amber-500;
}

.hover-bg-mt-amber-500:hover {
    color: $mt-amber-500;
}

.hover-mt-amber-500:hover {
    color: $mt-amber-500;
}

.mt-amber-600 {
    color: $mt-amber-600;
}

.bg-mt-amber-600 {
    color: $mt-amber-600;
}

.hover-bg-mt-amber-600:hover {
    color: $mt-amber-600;
}

.hover-mt-amber-600:hover {
    color: $mt-amber-600;
}

.mt-amber-700 {
    color: $mt-amber-700;
}

.bg-mt-amber-700 {
    color: $mt-amber-700;
}

.hover-bg-mt-amber-700:hover {
    color: $mt-amber-700;
}

.hover-mt-amber-700:hover {
    color: $mt-amber-700;
}

.mt-amber-800 {
    color: $mt-amber-800;
}

.bg-mt-amber-800 {
    color: $mt-amber-800;
}

.hover-bg-mt-amber-800:hover {
    color: $mt-amber-800;
}

.hover-mt-amber-800:hover {
    color: $mt-amber-800;
}

.mt-amber-900 {
    color: $mt-amber-900;
}

.bg-mt-amber-900 {
    color: $mt-amber-900;
}

.hover-bg-mt-amber-900:hover {
    color: $mt-amber-900;
}

.hover-mt-amber-900:hover {
    color: $mt-amber-900;
}

.mt-amber-a100 {
    color: $mt-amber-a100;
}

.bg-mt-amber-a100 {
    color: $mt-amber-a100;
}

.hover-bg-mt-amber-a100:hover {
    color: $mt-amber-a100;
}

.hover-mt-amber-a100:hover {
    color: $mt-amber-a100;
}

.mt-amber-a200 {
    color: $mt-amber-a200;
}

.bg-mt-amber-a200 {
    color: $mt-amber-a200;
}

.hover-bg-mt-amber-a200:hover {
    color: $mt-amber-a200;
}

.hover-mt-amber-a200:hover {
    color: $mt-amber-a200;
}

.mt-amber-a400 {
    color: $mt-amber-a400;
}

.bg-mt-amber-a400 {
    color: $mt-amber-a400;
}

.hover-bg-mt-amber-a400:hover {
    color: $mt-amber-a400;
}

.hover-mt-amber-a400:hover {
    color: $mt-amber-a400;
}

.mt-amber-a700 {
    color: $mt-amber-a700;
}

.bg-mt-amber-a700 {
    color: $mt-amber-a700;
}

.hover-bg-mt-amber-a700:hover {
    color: $mt-amber-a700;
}

.hover-mt-amber-a700:hover {
    color: $mt-amber-a700;
}