$mt-purple-50:#f3e5f5;
$mt-purple-100:#e1bee7;
$mt-purple-200:#ce93d8;
$mt-purple-300:#ba68c8;
$mt-purple-400:#ab47bc;
$mt-purple-500:#9c27b0;
$mt-purple-600:#8e24aa;
$mt-purple-700:#7b1fa2;
$mt-purple-800:#6a1b9a;
$mt-purple-900:#4a148c;
$mt-purple-a100:#ea80fc;
$mt-purple-a200:#e040fb;
$mt-purple-a400:#d500f9;
$mt-purple-a700:#aa00ff;
.mt-purple-50 {
    color: $mt-purple-50;
}

.bg-mt-purple-50 {
    color: $mt-purple-50;
}

.hover-bg-mt-purple-50:hover {
    color: $mt-purple-50;
}

.hover-mt-purple-50:hover {
    color: $mt-purple-50;
}

.mt-purple-100 {
    color: $mt-purple-100;
}

.bg-mt-purple-100 {
    color: $mt-purple-100;
}

.hover-bg-mt-purple-100:hover {
    color: $mt-purple-100;
}

.hover-mt-purple-100:hover {
    color: $mt-purple-100;
}

.mt-purple-200 {
    color: $mt-purple-200;
}

.bg-mt-purple-200 {
    color: $mt-purple-200;
}

.hover-bg-mt-purple-200:hover {
    color: $mt-purple-200;
}

.hover-mt-purple-200:hover {
    color: $mt-purple-200;
}

.mt-purple-300 {
    color: $mt-purple-300;
}

.bg-mt-purple-300 {
    color: $mt-purple-300;
}

.hover-bg-mt-purple-300:hover {
    color: $mt-purple-300;
}

.hover-mt-purple-300:hover {
    color: $mt-purple-300;
}

.mt-purple-400 {
    color: $mt-purple-400;
}

.bg-mt-purple-400 {
    color: $mt-purple-400;
}

.hover-bg-mt-purple-400:hover {
    color: $mt-purple-400;
}

.hover-mt-purple-400:hover {
    color: $mt-purple-400;
}

.mt-purple-500 {
    color: $mt-purple-500;
}

.bg-mt-purple-500 {
    color: $mt-purple-500;
}

.hover-bg-mt-purple-500:hover {
    color: $mt-purple-500;
}

.hover-mt-purple-500:hover {
    color: $mt-purple-500;
}

.mt-purple-600 {
    color: $mt-purple-600;
}

.bg-mt-purple-600 {
    color: $mt-purple-600;
}

.hover-bg-mt-purple-600:hover {
    color: $mt-purple-600;
}

.hover-mt-purple-600:hover {
    color: $mt-purple-600;
}

.mt-purple-700 {
    color: $mt-purple-700;
}

.bg-mt-purple-700 {
    color: $mt-purple-700;
}

.hover-bg-mt-purple-700:hover {
    color: $mt-purple-700;
}

.hover-mt-purple-700:hover {
    color: $mt-purple-700;
}

.mt-purple-800 {
    color: $mt-purple-800;
}

.bg-mt-purple-800 {
    color: $mt-purple-800;
}

.hover-bg-mt-purple-800:hover {
    color: $mt-purple-800;
}

.hover-mt-purple-800:hover {
    color: $mt-purple-800;
}

.mt-purple-900 {
    color: $mt-purple-900;
}

.bg-mt-purple-900 {
    color: $mt-purple-900;
}

.hover-bg-mt-purple-900:hover {
    color: $mt-purple-900;
}

.hover-mt-purple-900:hover {
    color: $mt-purple-900;
}

.mt-purple-a100 {
    color: $mt-purple-a100;
}

.bg-mt-purple-a100 {
    color: $mt-purple-a100;
}

.hover-bg-mt-purple-a100:hover {
    color: $mt-purple-a100;
}

.hover-mt-purple-a100:hover {
    color: $mt-purple-a100;
}

.mt-purple-a200 {
    color: $mt-purple-a200;
}

.bg-mt-purple-a200 {
    color: $mt-purple-a200;
}

.hover-bg-mt-purple-a200:hover {
    color: $mt-purple-a200;
}

.hover-mt-purple-a200:hover {
    color: $mt-purple-a200;
}

.mt-purple-a400 {
    color: $mt-purple-a400;
}

.bg-mt-purple-a400 {
    color: $mt-purple-a400;
}

.hover-bg-mt-purple-a400:hover {
    color: $mt-purple-a400;
}

.hover-mt-purple-a400:hover {
    color: $mt-purple-a400;
}

.mt-purple-a700 {
    color: $mt-purple-a700;
}

.bg-mt-purple-a700 {
    color: $mt-purple-a700;
}

.hover-bg-mt-purple-a700:hover {
    color: $mt-purple-a700;
}

.hover-mt-purple-a700:hover {
    color: $mt-purple-a700;
}