$mt-cyan-50:#e0f7fa;
$mt-cyan-100:#b2ebf2;
$mt-cyan-200:#80deea;
$mt-cyan-300:#4dd0e1;
$mt-cyan-400:#26c6da;
$mt-cyan-500:#00bcd4;
$mt-cyan-600:#00acc1;
$mt-cyan-700:#0097a7;
$mt-cyan-800:#00838f;
$mt-cyan-900:#006064;
$mt-cyan-a100:#84ffff;
$mt-cyan-a200:#18ffff;
$mt-cyan-a400:#00e5ff;
$mt-cyan-a700:#00b8d4;
.mt-cyan-50 {
    color: $mt-cyan-50;
}

.bg-mt-cyan-50 {
    color: $mt-cyan-50;
}

.hover-bg-mt-cyan-50:hover {
    color: $mt-cyan-50;
}

.hover-mt-cyan-50:hover {
    color: $mt-cyan-50;
}

.mt-cyan-100 {
    color: $mt-cyan-100;
}

.bg-mt-cyan-100 {
    color: $mt-cyan-100;
}

.hover-bg-mt-cyan-100:hover {
    color: $mt-cyan-100;
}

.hover-mt-cyan-100:hover {
    color: $mt-cyan-100;
}

.mt-cyan-200 {
    color: $mt-cyan-200;
}

.bg-mt-cyan-200 {
    color: $mt-cyan-200;
}

.hover-bg-mt-cyan-200:hover {
    color: $mt-cyan-200;
}

.hover-mt-cyan-200:hover {
    color: $mt-cyan-200;
}

.mt-cyan-300 {
    color: $mt-cyan-300;
}

.bg-mt-cyan-300 {
    color: $mt-cyan-300;
}

.hover-bg-mt-cyan-300:hover {
    color: $mt-cyan-300;
}

.hover-mt-cyan-300:hover {
    color: $mt-cyan-300;
}

.mt-cyan-400 {
    color: $mt-cyan-400;
}

.bg-mt-cyan-400 {
    color: $mt-cyan-400;
}

.hover-bg-mt-cyan-400:hover {
    color: $mt-cyan-400;
}

.hover-mt-cyan-400:hover {
    color: $mt-cyan-400;
}

.mt-cyan-500 {
    color: $mt-cyan-500;
}

.bg-mt-cyan-500 {
    color: $mt-cyan-500;
}

.hover-bg-mt-cyan-500:hover {
    color: $mt-cyan-500;
}

.hover-mt-cyan-500:hover {
    color: $mt-cyan-500;
}

.mt-cyan-600 {
    color: $mt-cyan-600;
}

.bg-mt-cyan-600 {
    color: $mt-cyan-600;
}

.hover-bg-mt-cyan-600:hover {
    color: $mt-cyan-600;
}

.hover-mt-cyan-600:hover {
    color: $mt-cyan-600;
}

.mt-cyan-700 {
    color: $mt-cyan-700;
}

.bg-mt-cyan-700 {
    color: $mt-cyan-700;
}

.hover-bg-mt-cyan-700:hover {
    color: $mt-cyan-700;
}

.hover-mt-cyan-700:hover {
    color: $mt-cyan-700;
}

.mt-cyan-800 {
    color: $mt-cyan-800;
}

.bg-mt-cyan-800 {
    color: $mt-cyan-800;
}

.hover-bg-mt-cyan-800:hover {
    color: $mt-cyan-800;
}

.hover-mt-cyan-800:hover {
    color: $mt-cyan-800;
}

.mt-cyan-900 {
    color: $mt-cyan-900;
}

.bg-mt-cyan-900 {
    color: $mt-cyan-900;
}

.hover-bg-mt-cyan-900:hover {
    color: $mt-cyan-900;
}

.hover-mt-cyan-900:hover {
    color: $mt-cyan-900;
}

.mt-cyan-a100 {
    color: $mt-cyan-a100;
}

.bg-mt-cyan-a100 {
    color: $mt-cyan-a100;
}

.hover-bg-mt-cyan-a100:hover {
    color: $mt-cyan-a100;
}

.hover-mt-cyan-a100:hover {
    color: $mt-cyan-a100;
}

.mt-cyan-a200 {
    color: $mt-cyan-a200;
}

.bg-mt-cyan-a200 {
    color: $mt-cyan-a200;
}

.hover-bg-mt-cyan-a200:hover {
    color: $mt-cyan-a200;
}

.hover-mt-cyan-a200:hover {
    color: $mt-cyan-a200;
}

.mt-cyan-a400 {
    color: $mt-cyan-a400;
}

.bg-mt-cyan-a400 {
    color: $mt-cyan-a400;
}

.hover-bg-mt-cyan-a400:hover {
    color: $mt-cyan-a400;
}

.hover-mt-cyan-a400:hover {
    color: $mt-cyan-a400;
}

.mt-cyan-a700 {
    color: $mt-cyan-a700;
}

.bg-mt-cyan-a700 {
    color: $mt-cyan-a700;
}

.hover-bg-mt-cyan-a700:hover {
    color: $mt-cyan-a700;
}

.hover-mt-cyan-a700:hover {
    color: $mt-cyan-a700;
}