.mt-teal-50 {
    color: #e0f2f1;
}

.bg-mt-teal-50 {
    background-color: #e0f2f1;
}

.hover-bg-mt-teal-50:hover {
    background-color: #e0f2f1;
}

.hover-mt-teal-50:hover {
    color: #e0f2f1;
}

.mt-teal-100 {
    color: #b2dfdb;
}

.bg-mt-teal-100 {
    background-color: #b2dfdb;
}

.hover-bg-mt-teal-100:hover {
    background-color: #b2dfdb;
}

.hover-mt-teal-100:hover {
    color: #b2dfdb;
}

.mt-teal-200 {
    color: #80cbc4;
}

.bg-mt-teal-200 {
    background-color: #80cbc4;
}

.hover-bg-mt-teal-200:hover {
    background-color: #80cbc4;
}

.hover-mt-teal-200:hover {
    color: #80cbc4;
}

.mt-teal-300 {
    color: #4db6ac;
}

.bg-mt-teal-300 {
    background-color: #4db6ac;
}

.hover-bg-mt-teal-300:hover {
    background-color: #4db6ac;
}

.hover-mt-teal-300:hover {
    color: #4db6ac;
}

.mt-teal-400 {
    color: #26a69a;
}

.bg-mt-teal-400 {
    background-color: #26a69a;
}

.hover-bg-mt-teal-400:hover {
    background-color: #26a69a;
}

.hover-mt-teal-400:hover {
    color: #26a69a;
}

.mt-teal-500 {
    color: #009688;
}

.bg-mt-teal-500 {
    background-color: #009688;
}

.hover-bg-mt-teal-500:hover {
    background-color: #009688;
}

.hover-mt-teal-500:hover {
    color: #009688;
}

.mt-teal-600 {
    color: #00897b;
}

.bg-mt-teal-600 {
    background-color: #00897b;
}

.hover-bg-mt-teal-600:hover {
    background-color: #00897b;
}

.hover-mt-teal-600:hover {
    color: #00897b;
}

.mt-teal-700 {
    color: #00796b;
}

.bg-mt-teal-700 {
    background-color: #00796b;
}

.hover-bg-mt-teal-700:hover {
    background-color: #00796b;
}

.hover-mt-teal-700:hover {
    color: #00796b;
}

.mt-teal-800 {
    color: #00695c;
}

.bg-mt-teal-800 {
    background-color: #00695c;
}

.hover-bg-mt-teal-800:hover {
    background-color: #00695c;
}

.hover-mt-teal-800:hover {
    color: #00695c;
}

.mt-teal-900 {
    color: #004d40;
}

.bg-mt-teal-900 {
    background-color: #004d40;
}

.hover-bg-mt-teal-900:hover {
    background-color: #004d40;
}

.hover-mt-teal-900:hover {
    color: #004d40;
}

.mt-teal-a100 {
    color: #a7ffeb;
}

.bg-mt-teal-a100 {
    background-color: #a7ffeb;
}

.hover-bg-mt-teal-a100:hover {
    background-color: #a7ffeb;
}

.hover-mt-teal-a100:hover {
    color: #a7ffeb;
}

.mt-teal-a200 {
    color: #64ffda;
}

.bg-mt-teal-a200 {
    background-color: #64ffda;
}

.hover-bg-mt-teal-a200:hover {
    background-color: #64ffda;
}

.hover-mt-teal-a200:hover {
    color: #64ffda;
}

.mt-teal-a400 {
    color: #1de9b6;
}

.bg-mt-teal-a400 {
    background-color: #1de9b6;
}

.hover-bg-mt-teal-a400:hover {
    background-color: #1de9b6;
}

.hover-mt-teal-a400:hover {
    color: #1de9b6;
}

.mt-teal-a700 {
    color: #00bfa5;
}

.bg-mt-teal-a700 {
    background-color: #00bfa5;
}

.hover-bg-mt-teal-a700:hover {
    background-color: #00bfa5;
}

.hover-mt-teal-a700:hover {
    color: #00bfa5;
}
