$mt-deep-orange-50:#fbe9e7;
$mt-deep-orange-100:#ffccbc;
$mt-deep-orange-200:#ffab91;
$mt-deep-orange-300:#ff8a65;
$mt-deep-orange-400:#ff7043;
$mt-deep-orange-500:#ff5722;
$mt-deep-orange-600:#f4511e;
$mt-deep-orange-700:#e64a19;
$mt-deep-orange-800:#d84315;
$mt-deep-orange-900:#bf360c;
$mt-deep-orange-a100:#ff9e80;
$mt-deep-orange-a200:#ff6e40;
$mt-deep-orange-a400:#ff3d00;
$mt-deep-orange-a700:#dd2c00;
.mt-deep-orange-50 {
    color: $mt-deep-orange-50;
}

.bg-mt-deep-orange-50 {
    background-color: $mt-deep-orange-50;
}

.hover-bg-mt-deep-orange-50:hover {
    background-color: $mt-deep-orange-50;
}

.hover-mt-deep-orange-50:hover {
    color: $mt-deep-orange-50;
}

.mt-deep-orange-100 {
    color: $mt-deep-orange-100;
}

.bg-mt-deep-orange-100 {
    background-color: $mt-deep-orange-100;
}

.hover-bg-mt-deep-orange-100:hover {
    background-color: $mt-deep-orange-100;
}

.hover-mt-deep-orange-100:hover {
    color: $mt-deep-orange-100;
}

.mt-deep-orange-200 {
    color: $mt-deep-orange-200;
}

.bg-mt-deep-orange-200 {
    background-color: $mt-deep-orange-200;
}

.hover-bg-mt-deep-orange-200:hover {
    background-color: $mt-deep-orange-200;
}

.hover-mt-deep-orange-200:hover {
    color: $mt-deep-orange-200;
}

.mt-deep-orange-300 {
    color: $mt-deep-orange-300;
}

.bg-mt-deep-orange-300 {
    background-color: $mt-deep-orange-300;
}

.hover-bg-mt-deep-orange-300:hover {
    background-color: $mt-deep-orange-300;
}

.hover-mt-deep-orange-300:hover {
    color: $mt-deep-orange-300;
}

.mt-deep-orange-400 {
    color: $mt-deep-orange-400;
}

.bg-mt-deep-orange-400 {
    background-color: $mt-deep-orange-400;
}

.hover-bg-mt-deep-orange-400:hover {
    background-color: $mt-deep-orange-400;
}

.hover-mt-deep-orange-400:hover {
    color: $mt-deep-orange-400;
}

.mt-deep-orange-500 {
    color: $mt-deep-orange-500;
}

.bg-mt-deep-orange-500 {
    background-color: $mt-deep-orange-500;
}

.hover-bg-mt-deep-orange-500:hover {
    background-color: $mt-deep-orange-500;
}

.hover-mt-deep-orange-500:hover {
    color: $mt-deep-orange-500;
}

.mt-deep-orange-600 {
    color: $mt-deep-orange-600;
}

.bg-mt-deep-orange-600 {
    background-color: $mt-deep-orange-600;
}

.hover-bg-mt-deep-orange-600:hover {
    background-color: $mt-deep-orange-600;
}

.hover-mt-deep-orange-600:hover {
    color: $mt-deep-orange-600;
}

.mt-deep-orange-700 {
    color: $mt-deep-orange-700;
}

.bg-mt-deep-orange-700 {
    background-color: $mt-deep-orange-700;
}

.hover-bg-mt-deep-orange-700:hover {
    background-color: $mt-deep-orange-700;
}

.hover-mt-deep-orange-700:hover {
    color: $mt-deep-orange-700;
}

.mt-deep-orange-800 {
    color: $mt-deep-orange-800;
}

.bg-mt-deep-orange-800 {
    background-color: $mt-deep-orange-800;
}

.hover-bg-mt-deep-orange-800:hover {
    background-color: $mt-deep-orange-800;
}

.hover-mt-deep-orange-800:hover {
    color: $mt-deep-orange-800;
}

.mt-deep-orange-900 {
    color: $mt-deep-orange-900;
}

.bg-mt-deep-orange-900 {
    background-color: $mt-deep-orange-900;
}

.hover-bg-mt-deep-orange-900:hover {
    background-color: $mt-deep-orange-900;
}

.hover-mt-deep-orange-900:hover {
    color: $mt-deep-orange-900;
}

.mt-deep-orange-a100 {
    color: $mt-deep-orange-a100;
}

.bg-mt-deep-orange-a100 {
    background-color: $mt-deep-orange-a100;
}

.hover-bg-mt-deep-orange-a100:hover {
    background-color: $mt-deep-orange-a100;
}

.hover-mt-deep-orange-a100:hover {
    color: $mt-deep-orange-a100;
}

.mt-deep-orange-a200 {
    color: $mt-deep-orange-a200;
}

.bg-mt-deep-orange-a200 {
    background-color: $mt-deep-orange-a200;
}

.hover-bg-mt-deep-orange-a200:hover {
    background-color: $mt-deep-orange-a200;
}

.hover-mt-deep-orange-a200:hover {
    color: $mt-deep-orange-a200;
}

.mt-deep-orange-a400 {
    color: $mt-deep-orange-a400;
}

.bg-mt-deep-orange-a400 {
    background-color: $mt-deep-orange-a400;
}

.hover-bg-mt-deep-orange-a400:hover {
    background-color: $mt-deep-orange-a400;
}

.hover-mt-deep-orange-a400:hover {
    color: $mt-deep-orange-a400;
}

.mt-deep-orange-a700 {
    color: $mt-deep-orange-a700;
}

.bg-mt-deep-orange-a700 {
    background-color: $mt-deep-orange-a700;
}

.hover-bg-mt-deep-orange-a700:hover {
    background-color: $mt-deep-orange-a700;
}

.hover-mt-deep-orange-a700:hover {
    color: $mt-deep-orange-a700;
}