.mt-pink-50 {
    color: #fce4ec;
}

.bg-mt-pink-50 {
    background-color: #fce4ec;
}

.hover-bg-mt-pink-50:hover {
    background-color: #fce4ec;
}

.hover-mt-pink-50:hover {
    color: #fce4ec;
}

.mt-pink-100 {
    color: #f8bbd0;
}

.bg-mt-pink-100 {
    background-color: #f8bbd0;
}

.hover-bg-mt-pink-100:hover {
    background-color: #f8bbd0;
}

.hover-mt-pink-100:hover {
    color: #f8bbd0;
}

.mt-pink-200 {
    color: #f48fb1;
}

.bg-mt-pink-200 {
    background-color: #f48fb1;
}

.hover-bg-mt-pink-200:hover {
    background-color: #f48fb1;
}

.hover-mt-pink-200:hover {
    color: #f48fb1;
}

.mt-pink-300 {
    color: #f06292;
}

.bg-mt-pink-300 {
    background-color: #f06292;
}

.hover-bg-mt-pink-300:hover {
    background-color: #f06292;
}

.hover-mt-pink-300:hover {
    color: #f06292;
}

.mt-pink-400 {
    color: #ec407a;
}

.bg-mt-pink-400 {
    background-color: #ec407a;
}

.hover-bg-mt-pink-400:hover {
    background-color: #ec407a;
}

.hover-mt-pink-400:hover {
    color: #ec407a;
}

.mt-pink-500 {
    color: #e91e63;
}

.bg-mt-pink-500 {
    background-color: #e91e63;
}

.hover-bg-mt-pink-500:hover {
    background-color: #e91e63;
}

.hover-mt-pink-500:hover {
    color: #e91e63;
}

.mt-pink-600 {
    color: #d81b60;
}

.bg-mt-pink-600 {
    background-color: #d81b60;
}

.hover-bg-mt-pink-600:hover {
    background-color: #d81b60;
}

.hover-mt-pink-600:hover {
    color: #d81b60;
}

.mt-pink-700 {
    color: #c2185b;
}

.bg-mt-pink-700 {
    background-color: #c2185b;
}

.hover-bg-mt-pink-700:hover {
    background-color: #c2185b;
}

.hover-mt-pink-700:hover {
    color: #c2185b;
}

.mt-pink-800 {
    color: #ad1457;
}

.bg-mt-pink-800 {
    background-color: #ad1457;
}

.hover-bg-mt-pink-800:hover {
    background-color: #ad1457;
}

.hover-mt-pink-800:hover {
    color: #ad1457;
}

.mt-pink-900 {
    color: #880e4f;
}

.bg-mt-pink-900 {
    background-color: #880e4f;
}

.hover-bg-mt-pink-900:hover {
    background-color: #880e4f;
}

.hover-mt-pink-900:hover {
    color: #880e4f;
}

.mt-pink-a100 {
    color: #ff80ab;
}

.bg-mt-pink-a100 {
    background-color: #ff80ab;
}

.hover-bg-mt-pink-a100:hover {
    background-color: #ff80ab;
}

.hover-mt-pink-a100:hover {
    color: #ff80ab;
}

.mt-pink-a200 {
    color: #ff4081;
}

.bg-mt-pink-a200 {
    background-color: #ff4081;
}

.hover-bg-mt-pink-a200:hover {
    background-color: #ff4081;
}

.hover-mt-pink-a200:hover {
    color: #ff4081;
}

.mt-pink-a400 {
    color: #f50057;
}

.bg-mt-pink-a400 {
    background-color: #f50057;
}

.hover-bg-mt-pink-a400:hover {
    background-color: #f50057;
}

.hover-mt-pink-a400:hover {
    color: #f50057;
}

.mt-pink-a700 {
    color: #c51162;
}

.bg-mt-pink-a700 {
    background-color: #c51162;
}

.hover-bg-mt-pink-a700:hover {
    background-color: #c51162;
}

.hover-mt-pink-a700:hover {
    color: #c51162;
}
