.mt-red-50 {
    color: #ffebee;
}

.bg-mt-red-50 {
    color: #ffebee;
}

.hover-bg-mt-red-50:hover {
    color: #ffebee;
}

.hover-mt-red-50:hover {
    color: #ffebee;
}

.mt-red-100 {
    color: #ffcdd2;
}

.bg-mt-red-100 {
    color: #ffcdd2;
}

.hover-bg-mt-red-100:hover {
    color: #ffcdd2;
}

.hover-mt-red-100:hover {
    color: #ffcdd2;
}

.mt-red-200 {
    color: #ef9a9a;
}

.bg-mt-red-200 {
    color: #ef9a9a;
}

.hover-bg-mt-red-200:hover {
    color: #ef9a9a;
}

.hover-mt-red-200:hover {
    color: #ef9a9a;
}

.mt-red-300 {
    color: #e57373;
}

.bg-mt-red-300 {
    color: #e57373;
}

.hover-bg-mt-red-300:hover {
    color: #e57373;
}

.hover-mt-red-300:hover {
    color: #e57373;
}

.mt-red-400 {
    color: #ef5350;
}

.bg-mt-red-400 {
    color: #ef5350;
}

.hover-bg-mt-red-400:hover {
    color: #ef5350;
}

.hover-mt-red-400:hover {
    color: #ef5350;
}

.mt-red-500 {
    color: #f44336;
}

.bg-mt-red-500 {
    color: #f44336;
}

.hover-bg-mt-red-500:hover {
    color: #f44336;
}

.hover-mt-red-500:hover {
    color: #f44336;
}

.mt-red-600 {
    color: #e53935;
}

.bg-mt-red-600 {
    color: #e53935;
}

.hover-bg-mt-red-600:hover {
    color: #e53935;
}

.hover-mt-red-600:hover {
    color: #e53935;
}

.mt-red-700 {
    color: #d32f2f;
}

.bg-mt-red-700 {
    color: #d32f2f;
}

.hover-bg-mt-red-700:hover {
    color: #d32f2f;
}

.hover-mt-red-700:hover {
    color: #d32f2f;
}

.mt-red-800 {
    color: #c62828;
}

.bg-mt-red-800 {
    color: #c62828;
}

.hover-bg-mt-red-800:hover {
    color: #c62828;
}

.hover-mt-red-800:hover {
    color: #c62828;
}

.mt-red-900 {
    color: #b71c1c;
}

.bg-mt-red-900 {
    color: #b71c1c;
}

.hover-bg-mt-red-900:hover {
    color: #b71c1c;
}

.hover-mt-red-900:hover {
    color: #b71c1c;
}

.mt-red-a100 {
    color: #ff8a80;
}

.bg-mt-red-a100 {
    color: #ff8a80;
}

.hover-bg-mt-red-a100:hover {
    color: #ff8a80;
}

.hover-mt-red-a100:hover {
    color: #ff8a80;
}

.mt-red-a200 {
    color: #ff5252;
}

.bg-mt-red-a200 {
    color: #ff5252;
}

.hover-bg-mt-red-a200:hover {
    color: #ff5252;
}

.hover-mt-red-a200:hover {
    color: #ff5252;
}

.mt-red-a400 {
    color: #ff1744;
}

.bg-mt-red-a400 {
    color: #ff1744;
}

.hover-bg-mt-red-a400:hover {
    color: #ff1744;
}

.hover-mt-red-a400:hover {
    color: #ff1744;
}

.mt-red-a700 {
    color: #d50000;
}

.bg-mt-red-a700 {
    color: #d50000;
}

.hover-bg-mt-red-a700:hover {
    color: #d50000;
}

.hover-mt-red-a700:hover {
    color: #d50000;
}
