$mt-teal-50:#e0f2f1;
$mt-teal-100:#b2dfdb;
$mt-teal-200:#80cbc4;
$mt-teal-300:#4db6ac;
$mt-teal-400:#26a69a;
$mt-teal-500:#009688;
$mt-teal-600:#00897b;
$mt-teal-700:#00796b;
$mt-teal-800:#00695c;
$mt-teal-900:#004d40;
$mt-teal-a100:#a7ffeb;
$mt-teal-a200:#64ffda;
$mt-teal-a400:#1de9b6;
$mt-teal-a700:#00bfa5;
.mt-teal-50 {
    color: $mt-teal-50;
}

.bg-mt-teal-50 {
    color: $mt-teal-50;
}

.hover-bg-mt-teal-50:hover {
    color: $mt-teal-50;
}

.hover-mt-teal-50:hover {
    color: $mt-teal-50;
}

.mt-teal-100 {
    color: $mt-teal-100;
}

.bg-mt-teal-100 {
    color: $mt-teal-100;
}

.hover-bg-mt-teal-100:hover {
    color: $mt-teal-100;
}

.hover-mt-teal-100:hover {
    color: $mt-teal-100;
}

.mt-teal-200 {
    color: $mt-teal-200;
}

.bg-mt-teal-200 {
    color: $mt-teal-200;
}

.hover-bg-mt-teal-200:hover {
    color: $mt-teal-200;
}

.hover-mt-teal-200:hover {
    color: $mt-teal-200;
}

.mt-teal-300 {
    color: $mt-teal-300;
}

.bg-mt-teal-300 {
    color: $mt-teal-300;
}

.hover-bg-mt-teal-300:hover {
    color: $mt-teal-300;
}

.hover-mt-teal-300:hover {
    color: $mt-teal-300;
}

.mt-teal-400 {
    color: $mt-teal-400;
}

.bg-mt-teal-400 {
    color: $mt-teal-400;
}

.hover-bg-mt-teal-400:hover {
    color: $mt-teal-400;
}

.hover-mt-teal-400:hover {
    color: $mt-teal-400;
}

.mt-teal-500 {
    color: $mt-teal-500;
}

.bg-mt-teal-500 {
    color: $mt-teal-500;
}

.hover-bg-mt-teal-500:hover {
    color: $mt-teal-500;
}

.hover-mt-teal-500:hover {
    color: $mt-teal-500;
}

.mt-teal-600 {
    color: $mt-teal-600;
}

.bg-mt-teal-600 {
    color: $mt-teal-600;
}

.hover-bg-mt-teal-600:hover {
    color: $mt-teal-600;
}

.hover-mt-teal-600:hover {
    color: $mt-teal-600;
}

.mt-teal-700 {
    color: $mt-teal-700;
}

.bg-mt-teal-700 {
    color: $mt-teal-700;
}

.hover-bg-mt-teal-700:hover {
    color: $mt-teal-700;
}

.hover-mt-teal-700:hover {
    color: $mt-teal-700;
}

.mt-teal-800 {
    color: $mt-teal-800;
}

.bg-mt-teal-800 {
    color: $mt-teal-800;
}

.hover-bg-mt-teal-800:hover {
    color: $mt-teal-800;
}

.hover-mt-teal-800:hover {
    color: $mt-teal-800;
}

.mt-teal-900 {
    color: $mt-teal-900;
}

.bg-mt-teal-900 {
    color: $mt-teal-900;
}

.hover-bg-mt-teal-900:hover {
    color: $mt-teal-900;
}

.hover-mt-teal-900:hover {
    color: $mt-teal-900;
}

.mt-teal-a100 {
    color: $mt-teal-a100;
}

.bg-mt-teal-a100 {
    color: $mt-teal-a100;
}

.hover-bg-mt-teal-a100:hover {
    color: $mt-teal-a100;
}

.hover-mt-teal-a100:hover {
    color: $mt-teal-a100;
}

.mt-teal-a200 {
    color: $mt-teal-a200;
}

.bg-mt-teal-a200 {
    color: $mt-teal-a200;
}

.hover-bg-mt-teal-a200:hover {
    color: $mt-teal-a200;
}

.hover-mt-teal-a200:hover {
    color: $mt-teal-a200;
}

.mt-teal-a400 {
    color: $mt-teal-a400;
}

.bg-mt-teal-a400 {
    color: $mt-teal-a400;
}

.hover-bg-mt-teal-a400:hover {
    color: $mt-teal-a400;
}

.hover-mt-teal-a400:hover {
    color: $mt-teal-a400;
}

.mt-teal-a700 {
    color: $mt-teal-a700;
}

.bg-mt-teal-a700 {
    color: $mt-teal-a700;
}

.hover-bg-mt-teal-a700:hover {
    color: $mt-teal-a700;
}

.hover-mt-teal-a700:hover {
    color: $mt-teal-a700;
}