$mt-light-blue-50:#e1f5fe;
$mt-light-blue-100:#b3e5fc;
$mt-light-blue-200:#81d4fa;
$mt-light-blue-300:#4fc3f7;
$mt-light-blue-400:#29b6f6;
$mt-light-blue-500:#03a9f4;
$mt-light-blue-600:#039be5;
$mt-light-blue-700:#0288d1;
$mt-light-blue-800:#0277bd;
$mt-light-blue-900:#01579b;
$mt-light-blue-a100:#80d8ff;
$mt-light-blue-a200:#40c4ff;
$mt-light-blue-a400:#00b0ff;
$mt-light-blue-a700:#0091ea;
.mt-light-blue-50 {
    color: $mt-light-blue-50;
}

.bg-mt-light-blue-50 {
    color: $mt-light-blue-50;
}

.hover-bg-mt-light-blue-50:hover {
    color: $mt-light-blue-50;
}

.hover-mt-light-blue-50:hover {
    color: $mt-light-blue-50;
}

.mt-light-blue-100 {
    color: $mt-light-blue-100;
}

.bg-mt-light-blue-100 {
    color: $mt-light-blue-100;
}

.hover-bg-mt-light-blue-100:hover {
    color: $mt-light-blue-100;
}

.hover-mt-light-blue-100:hover {
    color: $mt-light-blue-100;
}

.mt-light-blue-200 {
    color: $mt-light-blue-200;
}

.bg-mt-light-blue-200 {
    color: $mt-light-blue-200;
}

.hover-bg-mt-light-blue-200:hover {
    color: $mt-light-blue-200;
}

.hover-mt-light-blue-200:hover {
    color: $mt-light-blue-200;
}

.mt-light-blue-300 {
    color: $mt-light-blue-300;
}

.bg-mt-light-blue-300 {
    color: $mt-light-blue-300;
}

.hover-bg-mt-light-blue-300:hover {
    color: $mt-light-blue-300;
}

.hover-mt-light-blue-300:hover {
    color: $mt-light-blue-300;
}

.mt-light-blue-400 {
    color: $mt-light-blue-400;
}

.bg-mt-light-blue-400 {
    color: $mt-light-blue-400;
}

.hover-bg-mt-light-blue-400:hover {
    color: $mt-light-blue-400;
}

.hover-mt-light-blue-400:hover {
    color: $mt-light-blue-400;
}

.mt-light-blue-500 {
    color: $mt-light-blue-500;
}

.bg-mt-light-blue-500 {
    color: $mt-light-blue-500;
}

.hover-bg-mt-light-blue-500:hover {
    color: $mt-light-blue-500;
}

.hover-mt-light-blue-500:hover {
    color: $mt-light-blue-500;
}

.mt-light-blue-600 {
    color: $mt-light-blue-600;
}

.bg-mt-light-blue-600 {
    color: $mt-light-blue-600;
}

.hover-bg-mt-light-blue-600:hover {
    color: $mt-light-blue-600;
}

.hover-mt-light-blue-600:hover {
    color: $mt-light-blue-600;
}

.mt-light-blue-700 {
    color: $mt-light-blue-700;
}

.bg-mt-light-blue-700 {
    color: $mt-light-blue-700;
}

.hover-bg-mt-light-blue-700:hover {
    color: $mt-light-blue-700;
}

.hover-mt-light-blue-700:hover {
    color: $mt-light-blue-700;
}

.mt-light-blue-800 {
    color: $mt-light-blue-800;
}

.bg-mt-light-blue-800 {
    color: $mt-light-blue-800;
}

.hover-bg-mt-light-blue-800:hover {
    color: $mt-light-blue-800;
}

.hover-mt-light-blue-800:hover {
    color: $mt-light-blue-800;
}

.mt-light-blue-900 {
    color: $mt-light-blue-900;
}

.bg-mt-light-blue-900 {
    color: $mt-light-blue-900;
}

.hover-bg-mt-light-blue-900:hover {
    color: $mt-light-blue-900;
}

.hover-mt-light-blue-900:hover {
    color: $mt-light-blue-900;
}

.mt-light-blue-a100 {
    color: $mt-light-blue-a100;
}

.bg-mt-light-blue-a100 {
    color: $mt-light-blue-a100;
}

.hover-bg-mt-light-blue-a100:hover {
    color: $mt-light-blue-a100;
}

.hover-mt-light-blue-a100:hover {
    color: $mt-light-blue-a100;
}

.mt-light-blue-a200 {
    color: $mt-light-blue-a200;
}

.bg-mt-light-blue-a200 {
    color: $mt-light-blue-a200;
}

.hover-bg-mt-light-blue-a200:hover {
    color: $mt-light-blue-a200;
}

.hover-mt-light-blue-a200:hover {
    color: $mt-light-blue-a200;
}

.mt-light-blue-a400 {
    color: $mt-light-blue-a400;
}

.bg-mt-light-blue-a400 {
    color: $mt-light-blue-a400;
}

.hover-bg-mt-light-blue-a400:hover {
    color: $mt-light-blue-a400;
}

.hover-mt-light-blue-a400:hover {
    color: $mt-light-blue-a400;
}

.mt-light-blue-a700 {
    color: $mt-light-blue-a700;
}

.bg-mt-light-blue-a700 {
    color: $mt-light-blue-a700;
}

.hover-bg-mt-light-blue-a700:hover {
    color: $mt-light-blue-a700;
}

.hover-mt-light-blue-a700:hover {
    color: $mt-light-blue-a700;
}