$mt-lime-50:#f9fbe7;
$mt-lime-100:#f0f4c3;
$mt-lime-200:#e6ee9c;
$mt-lime-300:#dce775;
$mt-lime-400:#d4e157;
$mt-lime-500:#cddc39;
$mt-lime-600:#c0ca33;
$mt-lime-700:#afb42b;
$mt-lime-800:#9e9d24;
$mt-lime-900:#827717;
$mt-lime-a100:#f4ff81;
$mt-lime-a200:#eeff41;
$mt-lime-a400:#c6ff00;
$mt-lime-a700:#aeea00;
.mt-lime-50 {
    color: $mt-lime-50;
}

.bg-mt-lime-50 {
    color: $mt-lime-50;
}

.hover-bg-mt-lime-50:hover {
    color: $mt-lime-50;
}

.hover-mt-lime-50:hover {
    color: $mt-lime-50;
}

.mt-lime-100 {
    color: $mt-lime-100;
}

.bg-mt-lime-100 {
    color: $mt-lime-100;
}

.hover-bg-mt-lime-100:hover {
    color: $mt-lime-100;
}

.hover-mt-lime-100:hover {
    color: $mt-lime-100;
}

.mt-lime-200 {
    color: $mt-lime-200;
}

.bg-mt-lime-200 {
    color: $mt-lime-200;
}

.hover-bg-mt-lime-200:hover {
    color: $mt-lime-200;
}

.hover-mt-lime-200:hover {
    color: $mt-lime-200;
}

.mt-lime-300 {
    color: $mt-lime-300;
}

.bg-mt-lime-300 {
    color: $mt-lime-300;
}

.hover-bg-mt-lime-300:hover {
    color: $mt-lime-300;
}

.hover-mt-lime-300:hover {
    color: $mt-lime-300;
}

.mt-lime-400 {
    color: $mt-lime-400;
}

.bg-mt-lime-400 {
    color: $mt-lime-400;
}

.hover-bg-mt-lime-400:hover {
    color: $mt-lime-400;
}

.hover-mt-lime-400:hover {
    color: $mt-lime-400;
}

.mt-lime-500 {
    color: $mt-lime-500;
}

.bg-mt-lime-500 {
    color: $mt-lime-500;
}

.hover-bg-mt-lime-500:hover {
    color: $mt-lime-500;
}

.hover-mt-lime-500:hover {
    color: $mt-lime-500;
}

.mt-lime-600 {
    color: $mt-lime-600;
}

.bg-mt-lime-600 {
    color: $mt-lime-600;
}

.hover-bg-mt-lime-600:hover {
    color: $mt-lime-600;
}

.hover-mt-lime-600:hover {
    color: $mt-lime-600;
}

.mt-lime-700 {
    color: $mt-lime-700;
}

.bg-mt-lime-700 {
    color: $mt-lime-700;
}

.hover-bg-mt-lime-700:hover {
    color: $mt-lime-700;
}

.hover-mt-lime-700:hover {
    color: $mt-lime-700;
}

.mt-lime-800 {
    color: $mt-lime-800;
}

.bg-mt-lime-800 {
    color: $mt-lime-800;
}

.hover-bg-mt-lime-800:hover {
    color: $mt-lime-800;
}

.hover-mt-lime-800:hover {
    color: $mt-lime-800;
}

.mt-lime-900 {
    color: $mt-lime-900;
}

.bg-mt-lime-900 {
    color: $mt-lime-900;
}

.hover-bg-mt-lime-900:hover {
    color: $mt-lime-900;
}

.hover-mt-lime-900:hover {
    color: $mt-lime-900;
}

.mt-lime-a100 {
    color: $mt-lime-a100;
}

.bg-mt-lime-a100 {
    color: $mt-lime-a100;
}

.hover-bg-mt-lime-a100:hover {
    color: $mt-lime-a100;
}

.hover-mt-lime-a100:hover {
    color: $mt-lime-a100;
}

.mt-lime-a200 {
    color: $mt-lime-a200;
}

.bg-mt-lime-a200 {
    color: $mt-lime-a200;
}

.hover-bg-mt-lime-a200:hover {
    color: $mt-lime-a200;
}

.hover-mt-lime-a200:hover {
    color: $mt-lime-a200;
}

.mt-lime-a400 {
    color: $mt-lime-a400;
}

.bg-mt-lime-a400 {
    color: $mt-lime-a400;
}

.hover-bg-mt-lime-a400:hover {
    color: $mt-lime-a400;
}

.hover-mt-lime-a400:hover {
    color: $mt-lime-a400;
}

.mt-lime-a700 {
    color: $mt-lime-a700;
}

.bg-mt-lime-a700 {
    color: $mt-lime-a700;
}

.hover-bg-mt-lime-a700:hover {
    color: $mt-lime-a700;
}

.hover-mt-lime-a700:hover {
    color: $mt-lime-a700;
}