.mt-yellow-50 {
    color: #fffde7;
}

.bg-mt-yellow-50 {
    color: #fffde7;
}

.hover-bg-mt-yellow-50:hover {
    color: #fffde7;
}

.hover-mt-yellow-50:hover {
    color: #fffde7;
}

.mt-yellow-100 {
    color: #fff9c4;
}

.bg-mt-yellow-100 {
    color: #fff9c4;
}

.hover-bg-mt-yellow-100:hover {
    color: #fff9c4;
}

.hover-mt-yellow-100:hover {
    color: #fff9c4;
}

.mt-yellow-200 {
    color: #fff59d;
}

.bg-mt-yellow-200 {
    color: #fff59d;
}

.hover-bg-mt-yellow-200:hover {
    color: #fff59d;
}

.hover-mt-yellow-200:hover {
    color: #fff59d;
}

.mt-yellow-300 {
    color: #fff176;
}

.bg-mt-yellow-300 {
    color: #fff176;
}

.hover-bg-mt-yellow-300:hover {
    color: #fff176;
}

.hover-mt-yellow-300:hover {
    color: #fff176;
}

.mt-yellow-400 {
    color: #ffee58;
}

.bg-mt-yellow-400 {
    color: #ffee58;
}

.hover-bg-mt-yellow-400:hover {
    color: #ffee58;
}

.hover-mt-yellow-400:hover {
    color: #ffee58;
}

.mt-yellow-500 {
    color: #ffeb3b;
}

.bg-mt-yellow-500 {
    color: #ffeb3b;
}

.hover-bg-mt-yellow-500:hover {
    color: #ffeb3b;
}

.hover-mt-yellow-500:hover {
    color: #ffeb3b;
}

.mt-yellow-600 {
    color: #fdd835;
}

.bg-mt-yellow-600 {
    color: #fdd835;
}

.hover-bg-mt-yellow-600:hover {
    color: #fdd835;
}

.hover-mt-yellow-600:hover {
    color: #fdd835;
}

.mt-yellow-700 {
    color: #fbc02d;
}

.bg-mt-yellow-700 {
    color: #fbc02d;
}

.hover-bg-mt-yellow-700:hover {
    color: #fbc02d;
}

.hover-mt-yellow-700:hover {
    color: #fbc02d;
}

.mt-yellow-800 {
    color: #f9a825;
}

.bg-mt-yellow-800 {
    color: #f9a825;
}

.hover-bg-mt-yellow-800:hover {
    color: #f9a825;
}

.hover-mt-yellow-800:hover {
    color: #f9a825;
}

.mt-yellow-900 {
    color: #f57f17;
}

.bg-mt-yellow-900 {
    color: #f57f17;
}

.hover-bg-mt-yellow-900:hover {
    color: #f57f17;
}

.hover-mt-yellow-900:hover {
    color: #f57f17;
}

.mt-yellow-a100 {
    color: #ffff8d;
}

.bg-mt-yellow-a100 {
    color: #ffff8d;
}

.hover-bg-mt-yellow-a100:hover {
    color: #ffff8d;
}

.hover-mt-yellow-a100:hover {
    color: #ffff8d;
}

.mt-yellow-a200 {
    color: #ffff00;
}

.bg-mt-yellow-a200 {
    color: #ffff00;
}

.hover-bg-mt-yellow-a200:hover {
    color: #ffff00;
}

.hover-mt-yellow-a200:hover {
    color: #ffff00;
}

.mt-yellow-a400 {
    color: #ffea00;
}

.bg-mt-yellow-a400 {
    color: #ffea00;
}

.hover-bg-mt-yellow-a400:hover {
    color: #ffea00;
}

.hover-mt-yellow-a400:hover {
    color: #ffea00;
}

.mt-yellow-a700 {
    color: #ffd600;
}

.bg-mt-yellow-a700 {
    color: #ffd600;
}

.hover-bg-mt-yellow-a700:hover {
    color: #ffd600;
}

.hover-mt-yellow-a700:hover {
    color: #ffd600;
}