.mt-indigo-50 {
    color: #e8eaf6;
}

.bg-mt-indigo-50 {
    background-color: #e8eaf6;
}

.hover-bg-mt-indigo-50:hover {
    background-color: #e8eaf6;
}

.hover-mt-indigo-50:hover {
    color: #e8eaf6;
}

.mt-indigo-100 {
    color: #c5cae9;
}

.bg-mt-indigo-100 {
    background-color: #c5cae9;
}

.hover-bg-mt-indigo-100:hover {
    background-color: #c5cae9;
}

.hover-mt-indigo-100:hover {
    color: #c5cae9;
}

.mt-indigo-200 {
    color: #9fa8da;
}

.bg-mt-indigo-200 {
    background-color: #9fa8da;
}

.hover-bg-mt-indigo-200:hover {
    background-color: #9fa8da;
}

.hover-mt-indigo-200:hover {
    color: #9fa8da;
}

.mt-indigo-300 {
    color: #7986cb;
}

.bg-mt-indigo-300 {
    background-color: #7986cb;
}

.hover-bg-mt-indigo-300:hover {
    background-color: #7986cb;
}

.hover-mt-indigo-300:hover {
    color: #7986cb;
}

.mt-indigo-400 {
    color: #5c6bc0;
}

.bg-mt-indigo-400 {
    background-color: #5c6bc0;
}

.hover-bg-mt-indigo-400:hover {
    background-color: #5c6bc0;
}

.hover-mt-indigo-400:hover {
    color: #5c6bc0;
}

.mt-indigo-500 {
    color: #3f51b5;
}

.bg-mt-indigo-500 {
    background-color: #3f51b5;
}

.hover-bg-mt-indigo-500:hover {
    background-color: #3f51b5;
}

.hover-mt-indigo-500:hover {
    color: #3f51b5;
}

.mt-indigo-600 {
    color: #3949ab;
}

.bg-mt-indigo-600 {
    background-color: #3949ab;
}

.hover-bg-mt-indigo-600:hover {
    background-color: #3949ab;
}

.hover-mt-indigo-600:hover {
    color: #3949ab;
}

.mt-indigo-700 {
    color: #303f9f;
}

.bg-mt-indigo-700 {
    background-color: #303f9f;
}

.hover-bg-mt-indigo-700:hover {
    background-color: #303f9f;
}

.hover-mt-indigo-700:hover {
    color: #303f9f;
}

.mt-indigo-800 {
    color: #283593;
}

.bg-mt-indigo-800 {
    background-color: #283593;
}

.hover-bg-mt-indigo-800:hover {
    background-color: #283593;
}

.hover-mt-indigo-800:hover {
    color: #283593;
}

.mt-indigo-900 {
    color: #1a237e;
}

.bg-mt-indigo-900 {
    background-color: #1a237e;
}

.hover-bg-mt-indigo-900:hover {
    background-color: #1a237e;
}

.hover-mt-indigo-900:hover {
    color: #1a237e;
}

.mt-indigo-a100 {
    color: #8c9eff;
}

.bg-mt-indigo-a100 {
    background-color: #8c9eff;
}

.hover-bg-mt-indigo-a100:hover {
    background-color: #8c9eff;
}

.hover-mt-indigo-a100:hover {
    color: #8c9eff;
}

.mt-indigo-a200 {
    color: #536dfe;
}

.bg-mt-indigo-a200 {
    background-color: #536dfe;
}

.hover-bg-mt-indigo-a200:hover {
    background-color: #536dfe;
}

.hover-mt-indigo-a200:hover {
    color: #536dfe;
}

.mt-indigo-a400 {
    color: #3d5afe;
}

.bg-mt-indigo-a400 {
    background-color: #3d5afe;
}

.hover-bg-mt-indigo-a400:hover {
    background-color: #3d5afe;
}

.hover-mt-indigo-a400:hover {
    color: #3d5afe;
}

.mt-indigo-a700 {
    color: #304ffe;
}

.bg-mt-indigo-a700 {
    background-color: #304ffe;
}

.hover-bg-mt-indigo-a700:hover {
    background-color: #304ffe;
}

.hover-mt-indigo-a700:hover {
    color: #304ffe;
}