$mt-blue-50:#e3f2fd;
$mt-blue-100:#bbdefb;
$mt-blue-200:#90caf9;
$mt-blue-300:#64b5f6;
$mt-blue-400:#42a5f5;
$mt-blue-500:#2196f3;
$mt-blue-600:#1e88e5;
$mt-blue-700:#1976d2;
$mt-blue-800:#1565c0;
$mt-blue-900:#0d47a1;
$mt-blue-a100:#82b1ff;
$mt-blue-a200:#448aff;
$mt-blue-a400:#2979ff;
$mt-blue-a700:#2962ff;
.mt-blue-50 {
    color: $mt-blue-50;
}

.bg-mt-blue-50 {
    background-color: $mt-blue-50;
}

.hover-bg-mt-blue-50:hover {
    background-color: $mt-blue-50;
}

.hover-mt-blue-50:hover {
    color: $mt-blue-50;
}

.mt-blue-100 {
    color: $mt-blue-100;
}

.bg-mt-blue-100 {
    background-color: $mt-blue-100;
}

.hover-bg-mt-blue-100:hover {
    background-color: $mt-blue-100;
}

.hover-mt-blue-100:hover {
    color: $mt-blue-100;
}

.mt-blue-200 {
    color: $mt-blue-200;
}

.bg-mt-blue-200 {
    background-color: $mt-blue-200;
}

.hover-bg-mt-blue-200:hover {
    background-color: $mt-blue-200;
}

.hover-mt-blue-200:hover {
    color: $mt-blue-200;
}

.mt-blue-300 {
    color: $mt-blue-300;
}

.bg-mt-blue-300 {
    background-color: $mt-blue-300;
}

.hover-bg-mt-blue-300:hover {
    background-color: $mt-blue-300;
}

.hover-mt-blue-300:hover {
    color: $mt-blue-300;
}

.mt-blue-400 {
    color: $mt-blue-400;
}

.bg-mt-blue-400 {
    background-color: $mt-blue-400;
}

.hover-bg-mt-blue-400:hover {
    background-color: $mt-blue-400;
}

.hover-mt-blue-400:hover {
    color: $mt-blue-400;
}

.mt-blue-500 {
    color: $mt-blue-500;
}

.bg-mt-blue-500 {
    background-color: $mt-blue-500;
}

.hover-bg-mt-blue-500:hover {
    background-color: $mt-blue-500;
}

.hover-mt-blue-500:hover {
    color: $mt-blue-500;
}

.mt-blue-600 {
    color: $mt-blue-600;
}

.bg-mt-blue-600 {
    background-color: $mt-blue-600;
}

.hover-bg-mt-blue-600:hover {
    background-color: $mt-blue-600;
}

.hover-mt-blue-600:hover {
    color: $mt-blue-600;
}

.mt-blue-700 {
    color: $mt-blue-700;
}

.bg-mt-blue-700 {
    background-color: $mt-blue-700;
}

.hover-bg-mt-blue-700:hover {
    background-color: $mt-blue-700;
}

.hover-mt-blue-700:hover {
    color: $mt-blue-700;
}

.mt-blue-800 {
    color: $mt-blue-800;
}

.bg-mt-blue-800 {
    background-color: $mt-blue-800;
}

.hover-bg-mt-blue-800:hover {
    background-color: $mt-blue-800;
}

.hover-mt-blue-800:hover {
    color: $mt-blue-800;
}

.mt-blue-900 {
    color: $mt-blue-900;
}

.bg-mt-blue-900 {
    background-color: $mt-blue-900;
}

.hover-bg-mt-blue-900:hover {
    background-color: $mt-blue-900;
}

.hover-mt-blue-900:hover {
    color: $mt-blue-900;
}

.mt-blue-a100 {
    color: $mt-blue-a100;
}

.bg-mt-blue-a100 {
    background-color: $mt-blue-a100;
}

.hover-bg-mt-blue-a100:hover {
    background-color: $mt-blue-a100;
}

.hover-mt-blue-a100:hover {
    color: $mt-blue-a100;
}

.mt-blue-a200 {
    color: $mt-blue-a200;
}

.bg-mt-blue-a200 {
    background-color: $mt-blue-a200;
}

.hover-bg-mt-blue-a200:hover {
    background-color: $mt-blue-a200;
}

.hover-mt-blue-a200:hover {
    color: $mt-blue-a200;
}

.mt-blue-a400 {
    color: $mt-blue-a400;
}

.bg-mt-blue-a400 {
    background-color: $mt-blue-a400;
}

.hover-bg-mt-blue-a400:hover {
    background-color: $mt-blue-a400;
}

.hover-mt-blue-a400:hover {
    color: $mt-blue-a400;
}

.mt-blue-a700 {
    color: $mt-blue-a700;
}

.bg-mt-blue-a700 {
    background-color: $mt-blue-a700;
}

.hover-bg-mt-blue-a700:hover {
    background-color: $mt-blue-a700;
}

.hover-mt-blue-a700:hover {
    color: $mt-blue-a700;
}