$mt-blue-grey-50:#eceff1;
$mt-blue-grey-100:#cfd8dc;
$mt-blue-grey-200:#b0bec5;
$mt-blue-grey-300:#90a4ae;
$mt-blue-grey-400:#78909c;
$mt-blue-grey-500:#607d8b;
$mt-blue-grey-600:#546e7a;
$mt-blue-grey-700:#455a64;
$mt-blue-grey-800:#37474f;
$mt-blue-grey-900:#263238;
$mt-blue-grey-1000:#11171a;
.mt-blue-grey-50 {
    color: $mt-blue-grey-50;
}

.bg-mt-blue-grey-50 {
    color: $mt-blue-grey-50;
}

.hover-bg-mt-blue-grey-50:hover {
    color: $mt-blue-grey-50;
}

.hover-mt-blue-grey-50:hover {
    color: $mt-blue-grey-50;
}

.mt-blue-grey-100 {
    color: $mt-blue-grey-100;
}

.bg-mt-blue-grey-100 {
    color: $mt-blue-grey-100;
}

.hover-bg-mt-blue-grey-100:hover {
    color: $mt-blue-grey-100;
}

.hover-mt-blue-grey-100:hover {
    color: $mt-blue-grey-100;
}

.mt-blue-grey-200 {
    color: $mt-blue-grey-200;
}

.bg-mt-blue-grey-200 {
    color: $mt-blue-grey-200;
}

.hover-bg-mt-blue-grey-200:hover {
    color: $mt-blue-grey-200;
}

.hover-mt-blue-grey-200:hover {
    color: $mt-blue-grey-200;
}

.mt-blue-grey-300 {
    color: $mt-blue-grey-300;
}

.bg-mt-blue-grey-300 {
    color: $mt-blue-grey-300;
}

.hover-bg-mt-blue-grey-300:hover {
    color: $mt-blue-grey-300;
}

.hover-mt-blue-grey-300:hover {
    color: $mt-blue-grey-300;
}

.mt-blue-grey-400 {
    color: $mt-blue-grey-400;
}

.bg-mt-blue-grey-400 {
    color: $mt-blue-grey-400;
}

.hover-bg-mt-blue-grey-400:hover {
    color: $mt-blue-grey-400;
}

.hover-mt-blue-grey-400:hover {
    color: $mt-blue-grey-400;
}

.mt-blue-grey-500 {
    color: $mt-blue-grey-500;
}

.bg-mt-blue-grey-500 {
    color: $mt-blue-grey-500;
}

.hover-bg-mt-blue-grey-500:hover {
    color: $mt-blue-grey-500;
}

.hover-mt-blue-grey-500:hover {
    color: $mt-blue-grey-500;
}

.mt-blue-grey-600 {
    color: $mt-blue-grey-600;
}

.bg-mt-blue-grey-600 {
    color: $mt-blue-grey-600;
}

.hover-bg-mt-blue-grey-600:hover {
    color: $mt-blue-grey-600;
}

.hover-mt-blue-grey-600:hover {
    color: $mt-blue-grey-600;
}

.mt-blue-grey-700 {
    color: $mt-blue-grey-700;
}

.bg-mt-blue-grey-700 {
    color: $mt-blue-grey-700;
}

.hover-bg-mt-blue-grey-700:hover {
    color: $mt-blue-grey-700;
}

.hover-mt-blue-grey-700:hover {
    color: $mt-blue-grey-700;
}

.mt-blue-grey-800 {
    color: $mt-blue-grey-800;
}

.bg-mt-blue-grey-800 {
    color: $mt-blue-grey-800;
}

.hover-bg-mt-blue-grey-800:hover {
    color: $mt-blue-grey-800;
}

.hover-mt-blue-grey-800:hover {
    color: $mt-blue-grey-800;
}

.mt-blue-grey-900 {
    color: $mt-blue-grey-900;
}

.bg-mt-blue-grey-900 {
    color: $mt-blue-grey-900;
}

.hover-bg-mt-blue-grey-900:hover {
    color: $mt-blue-grey-900;
}

.hover-mt-blue-grey-900:hover {
    color: $mt-blue-grey-900;
}

.mt-blue-grey-1000 {
    color: $mt-blue-grey-1000;
}

.bg-mt-blue-grey-1000 {
    color: $mt-blue-grey-1000;
}

.hover-bg-mt-blue-grey-1000:hover {
    color: $mt-blue-grey-1000;
}

.hover-mt-blue-grey-1000:hover {
    color: $mt-blue-grey-1000;
}