$mt-orange-50:#fff3e0;
$mt-orange-100:#ffe0b2;
$mt-orange-200:#ffcc80;
$mt-orange-300:#ffb74d;
$mt-orange-400:#ffa726;
$mt-orange-500:#ff9800;
$mt-orange-600:#fb8c00;
$mt-orange-700:#f57c00;
$mt-orange-800:#ef6c00;
$mt-orange-900:#e65100;
$mt-orange-a100:#ffd180;
$mt-orange-a200:#ffab40;
$mt-orange-a400:#ff9100;
$mt-orange-a700:#ff6d00;
.mt-orange-50 {
    color: $mt-orange-50;
}

.bg-mt-orange-50 {
    color: $mt-orange-50;
}

.hover-bg-mt-orange-50:hover {
    color: $mt-orange-50;
}

.hover-mt-orange-50:hover {
    color: $mt-orange-50;
}

.mt-orange-100 {
    color: $mt-orange-100;
}

.bg-mt-orange-100 {
    color: $mt-orange-100;
}

.hover-bg-mt-orange-100:hover {
    color: $mt-orange-100;
}

.hover-mt-orange-100:hover {
    color: $mt-orange-100;
}

.mt-orange-200 {
    color: $mt-orange-200;
}

.bg-mt-orange-200 {
    color: $mt-orange-200;
}

.hover-bg-mt-orange-200:hover {
    color: $mt-orange-200;
}

.hover-mt-orange-200:hover {
    color: $mt-orange-200;
}

.mt-orange-300 {
    color: $mt-orange-300;
}

.bg-mt-orange-300 {
    color: $mt-orange-300;
}

.hover-bg-mt-orange-300:hover {
    color: $mt-orange-300;
}

.hover-mt-orange-300:hover {
    color: $mt-orange-300;
}

.mt-orange-400 {
    color: $mt-orange-400;
}

.bg-mt-orange-400 {
    color: $mt-orange-400;
}

.hover-bg-mt-orange-400:hover {
    color: $mt-orange-400;
}

.hover-mt-orange-400:hover {
    color: $mt-orange-400;
}

.mt-orange-500 {
    color: $mt-orange-500;
}

.bg-mt-orange-500 {
    color: $mt-orange-500;
}

.hover-bg-mt-orange-500:hover {
    color: $mt-orange-500;
}

.hover-mt-orange-500:hover {
    color: $mt-orange-500;
}

.mt-orange-600 {
    color: $mt-orange-600;
}

.bg-mt-orange-600 {
    color: $mt-orange-600;
}

.hover-bg-mt-orange-600:hover {
    color: $mt-orange-600;
}

.hover-mt-orange-600:hover {
    color: $mt-orange-600;
}

.mt-orange-700 {
    color: $mt-orange-700;
}

.bg-mt-orange-700 {
    color: $mt-orange-700;
}

.hover-bg-mt-orange-700:hover {
    color: $mt-orange-700;
}

.hover-mt-orange-700:hover {
    color: $mt-orange-700;
}

.mt-orange-800 {
    color: $mt-orange-800;
}

.bg-mt-orange-800 {
    color: $mt-orange-800;
}

.hover-bg-mt-orange-800:hover {
    color: $mt-orange-800;
}

.hover-mt-orange-800:hover {
    color: $mt-orange-800;
}

.mt-orange-900 {
    color: $mt-orange-900;
}

.bg-mt-orange-900 {
    color: $mt-orange-900;
}

.hover-bg-mt-orange-900:hover {
    color: $mt-orange-900;
}

.hover-mt-orange-900:hover {
    color: $mt-orange-900;
}

.mt-orange-a100 {
    color: $mt-orange-a100;
}

.bg-mt-orange-a100 {
    color: $mt-orange-a100;
}

.hover-bg-mt-orange-a100:hover {
    color: $mt-orange-a100;
}

.hover-mt-orange-a100:hover {
    color: $mt-orange-a100;
}

.mt-orange-a200 {
    color: $mt-orange-a200;
}

.bg-mt-orange-a200 {
    color: $mt-orange-a200;
}

.hover-bg-mt-orange-a200:hover {
    color: $mt-orange-a200;
}

.hover-mt-orange-a200:hover {
    color: $mt-orange-a200;
}

.mt-orange-a400 {
    color: $mt-orange-a400;
}

.bg-mt-orange-a400 {
    color: $mt-orange-a400;
}

.hover-bg-mt-orange-a400:hover {
    color: $mt-orange-a400;
}

.hover-mt-orange-a400:hover {
    color: $mt-orange-a400;
}

.mt-orange-a700 {
    color: $mt-orange-a700;
}

.bg-mt-orange-a700 {
    color: $mt-orange-a700;
}

.hover-bg-mt-orange-a700:hover {
    color: $mt-orange-a700;
}

.hover-mt-orange-a700:hover {
    color: $mt-orange-a700;
}