.mt-purple-50 {
    color: #f3e5f5;
}

.bg-mt-purple-50 {
    color: #f3e5f5;
}

.hover-bg-mt-purple-50:hover {
    color: #f3e5f5;
}

.hover-mt-purple-50:hover {
    color: #f3e5f5;
}

.mt-purple-100 {
    color: #e1bee7;
}

.bg-mt-purple-100 {
    color: #e1bee7;
}

.hover-bg-mt-purple-100:hover {
    color: #e1bee7;
}

.hover-mt-purple-100:hover {
    color: #e1bee7;
}

.mt-purple-200 {
    color: #ce93d8;
}

.bg-mt-purple-200 {
    color: #ce93d8;
}

.hover-bg-mt-purple-200:hover {
    color: #ce93d8;
}

.hover-mt-purple-200:hover {
    color: #ce93d8;
}

.mt-purple-300 {
    color: #ba68c8;
}

.bg-mt-purple-300 {
    color: #ba68c8;
}

.hover-bg-mt-purple-300:hover {
    color: #ba68c8;
}

.hover-mt-purple-300:hover {
    color: #ba68c8;
}

.mt-purple-400 {
    color: #ab47bc;
}

.bg-mt-purple-400 {
    color: #ab47bc;
}

.hover-bg-mt-purple-400:hover {
    color: #ab47bc;
}

.hover-mt-purple-400:hover {
    color: #ab47bc;
}

.mt-purple-500 {
    color: #9c27b0;
}

.bg-mt-purple-500 {
    color: #9c27b0;
}

.hover-bg-mt-purple-500:hover {
    color: #9c27b0;
}

.hover-mt-purple-500:hover {
    color: #9c27b0;
}

.mt-purple-600 {
    color: #8e24aa;
}

.bg-mt-purple-600 {
    color: #8e24aa;
}

.hover-bg-mt-purple-600:hover {
    color: #8e24aa;
}

.hover-mt-purple-600:hover {
    color: #8e24aa;
}

.mt-purple-700 {
    color: #7b1fa2;
}

.bg-mt-purple-700 {
    color: #7b1fa2;
}

.hover-bg-mt-purple-700:hover {
    color: #7b1fa2;
}

.hover-mt-purple-700:hover {
    color: #7b1fa2;
}

.mt-purple-800 {
    color: #6a1b9a;
}

.bg-mt-purple-800 {
    color: #6a1b9a;
}

.hover-bg-mt-purple-800:hover {
    color: #6a1b9a;
}

.hover-mt-purple-800:hover {
    color: #6a1b9a;
}

.mt-purple-900 {
    color: #4a148c;
}

.bg-mt-purple-900 {
    color: #4a148c;
}

.hover-bg-mt-purple-900:hover {
    color: #4a148c;
}

.hover-mt-purple-900:hover {
    color: #4a148c;
}

.mt-purple-a100 {
    color: #ea80fc;
}

.bg-mt-purple-a100 {
    color: #ea80fc;
}

.hover-bg-mt-purple-a100:hover {
    color: #ea80fc;
}

.hover-mt-purple-a100:hover {
    color: #ea80fc;
}

.mt-purple-a200 {
    color: #e040fb;
}

.bg-mt-purple-a200 {
    color: #e040fb;
}

.hover-bg-mt-purple-a200:hover {
    color: #e040fb;
}

.hover-mt-purple-a200:hover {
    color: #e040fb;
}

.mt-purple-a400 {
    color: #d500f9;
}

.bg-mt-purple-a400 {
    color: #d500f9;
}

.hover-bg-mt-purple-a400:hover {
    color: #d500f9;
}

.hover-mt-purple-a400:hover {
    color: #d500f9;
}

.mt-purple-a700 {
    color: #aa00ff;
}

.bg-mt-purple-a700 {
    color: #aa00ff;
}

.hover-bg-mt-purple-a700:hover {
    color: #aa00ff;
}

.hover-mt-purple-a700:hover {
    color: #aa00ff;
}

.mt-deep-purple-50 {
    color: #ede7f6;
}

.bg-mt-deep-purple-50 {
    color: #ede7f6;
}

.hover-bg-mt-deep-purple-50:hover {
    color: #ede7f6;
}

.hover-mt-deep-purple-50:hover {
    color: #ede7f6;
}

.mt-deep-purple-100 {
    color: #d1c4e9;
}

.bg-mt-deep-purple-100 {
    color: #d1c4e9;
}

.hover-bg-mt-deep-purple-100:hover {
    color: #d1c4e9;
}

.hover-mt-deep-purple-100:hover {
    color: #d1c4e9;
}

.mt-deep-purple-200 {
    color: #b39ddb;
}

.bg-mt-deep-purple-200 {
    color: #b39ddb;
}

.hover-bg-mt-deep-purple-200:hover {
    color: #b39ddb;
}

.hover-mt-deep-purple-200:hover {
    color: #b39ddb;
}

.mt-deep-purple-300 {
    color: #9575cd;
}

.bg-mt-deep-purple-300 {
    color: #9575cd;
}

.hover-bg-mt-deep-purple-300:hover {
    color: #9575cd;
}

.hover-mt-deep-purple-300:hover {
    color: #9575cd;
}

.mt-deep-purple-400 {
    color: #7e57c2;
}

.bg-mt-deep-purple-400 {
    color: #7e57c2;
}

.hover-bg-mt-deep-purple-400:hover {
    color: #7e57c2;
}

.hover-mt-deep-purple-400:hover {
    color: #7e57c2;
}

.mt-deep-purple-500 {
    color: #673ab7;
}

.bg-mt-deep-purple-500 {
    color: #673ab7;
}

.hover-bg-mt-deep-purple-500:hover {
    color: #673ab7;
}

.hover-mt-deep-purple-500:hover {
    color: #673ab7;
}

.mt-deep-purple-600 {
    color: #5e35b1;
}

.bg-mt-deep-purple-600 {
    color: #5e35b1;
}

.hover-bg-mt-deep-purple-600:hover {
    color: #5e35b1;
}

.hover-mt-deep-purple-600:hover {
    color: #5e35b1;
}

.mt-deep-purple-700 {
    color: #512da8;
}

.bg-mt-deep-purple-700 {
    color: #512da8;
}

.hover-bg-mt-deep-purple-700:hover {
    color: #512da8;
}

.hover-mt-deep-purple-700:hover {
    color: #512da8;
}

.mt-deep-purple-800 {
    color: #4527a0;
}

.bg-mt-deep-purple-800 {
    color: #4527a0;
}

.hover-bg-mt-deep-purple-800:hover {
    color: #4527a0;
}

.hover-mt-deep-purple-800:hover {
    color: #4527a0;
}

.mt-deep-purple-900 {
    color: #311b92;
}

.bg-mt-deep-purple-900 {
    color: #311b92;
}

.hover-bg-mt-deep-purple-900:hover {
    color: #311b92;
}

.hover-mt-deep-purple-900:hover {
    color: #311b92;
}

.mt-deep-purple-a100 {
    color: #b388ff;
}

.bg-mt-deep-purple-a100 {
    color: #b388ff;
}

.hover-bg-mt-deep-purple-a100:hover {
    color: #b388ff;
}

.hover-mt-deep-purple-a100:hover {
    color: #b388ff;
}

.mt-deep-purple-a200 {
    color: #7c4dff;
}

.bg-mt-deep-purple-a200 {
    color: #7c4dff;
}

.hover-bg-mt-deep-purple-a200:hover {
    color: #7c4dff;
}

.hover-mt-deep-purple-a200:hover {
    color: #7c4dff;
}

.mt-deep-purple-a400 {
    color: #651fff;
}

.bg-mt-deep-purple-a400 {
    color: #651fff;
}

.hover-bg-mt-deep-purple-a400:hover {
    color: #651fff;
}

.hover-mt-deep-purple-a400:hover {
    color: #651fff;
}

.mt-deep-purple-a700 {
    color: #6200ea;
}

.bg-mt-deep-purple-a700 {
    color: #6200ea;
}

.hover-bg-mt-deep-purple-a700:hover {
    color: #6200ea;
}

.hover-mt-deep-purple-a700:hover {
    color: #6200ea;
}