.mt-lime-50 {
    color: #f9fbe7;
}

.bg-mt-lime-50 {
    background-color: #f9fbe7;
}

.hover-bg-mt-lime-50:hover {
    background-color: #f9fbe7;
}

.hover-mt-lime-50:hover {
    color: #f9fbe7;
}

.mt-lime-100 {
    color: #f0f4c3;
}

.bg-mt-lime-100 {
    background-color: #f0f4c3;
}

.hover-bg-mt-lime-100:hover {
    background-color: #f0f4c3;
}

.hover-mt-lime-100:hover {
    color: #f0f4c3;
}

.mt-lime-200 {
    color: #e6ee9c;
}

.bg-mt-lime-200 {
    background-color: #e6ee9c;
}

.hover-bg-mt-lime-200:hover {
    background-color: #e6ee9c;
}

.hover-mt-lime-200:hover {
    color: #e6ee9c;
}

.mt-lime-300 {
    color: #dce775;
}

.bg-mt-lime-300 {
    background-color: #dce775;
}

.hover-bg-mt-lime-300:hover {
    background-color: #dce775;
}

.hover-mt-lime-300:hover {
    color: #dce775;
}

.mt-lime-400 {
    color: #d4e157;
}

.bg-mt-lime-400 {
    background-color: #d4e157;
}

.hover-bg-mt-lime-400:hover {
    background-color: #d4e157;
}

.hover-mt-lime-400:hover {
    color: #d4e157;
}

.mt-lime-500 {
    color: #cddc39;
}

.bg-mt-lime-500 {
    background-color: #cddc39;
}

.hover-bg-mt-lime-500:hover {
    background-color: #cddc39;
}

.hover-mt-lime-500:hover {
    color: #cddc39;
}

.mt-lime-600 {
    color: #c0ca33;
}

.bg-mt-lime-600 {
    background-color: #c0ca33;
}

.hover-bg-mt-lime-600:hover {
    background-color: #c0ca33;
}

.hover-mt-lime-600:hover {
    color: #c0ca33;
}

.mt-lime-700 {
    color: #afb42b;
}

.bg-mt-lime-700 {
    background-color: #afb42b;
}

.hover-bg-mt-lime-700:hover {
    background-color: #afb42b;
}

.hover-mt-lime-700:hover {
    color: #afb42b;
}

.mt-lime-800 {
    color: #9e9d24;
}

.bg-mt-lime-800 {
    background-color: #9e9d24;
}

.hover-bg-mt-lime-800:hover {
    background-color: #9e9d24;
}

.hover-mt-lime-800:hover {
    color: #9e9d24;
}

.mt-lime-900 {
    color: #827717;
}

.bg-mt-lime-900 {
    background-color: #827717;
}

.hover-bg-mt-lime-900:hover {
    background-color: #827717;
}

.hover-mt-lime-900:hover {
    color: #827717;
}

.mt-lime-a100 {
    color: #f4ff81;
}

.bg-mt-lime-a100 {
    background-color: #f4ff81;
}

.hover-bg-mt-lime-a100:hover {
    background-color: #f4ff81;
}

.hover-mt-lime-a100:hover {
    color: #f4ff81;
}

.mt-lime-a200 {
    color: #eeff41;
}

.bg-mt-lime-a200 {
    background-color: #eeff41;
}

.hover-bg-mt-lime-a200:hover {
    background-color: #eeff41;
}

.hover-mt-lime-a200:hover {
    color: #eeff41;
}

.mt-lime-a400 {
    color: #c6ff00;
}

.bg-mt-lime-a400 {
    background-color: #c6ff00;
}

.hover-bg-mt-lime-a400:hover {
    background-color: #c6ff00;
}

.hover-mt-lime-a400:hover {
    color: #c6ff00;
}

.mt-lime-a700 {
    color: #aeea00;
}

.bg-mt-lime-a700 {
    background-color: #aeea00;
}

.hover-bg-mt-lime-a700:hover {
    background-color: #aeea00;
}

.hover-mt-lime-a700:hover {
    color: #aeea00;
}