$mt-indigo-50:#e8eaf6;
$mt-indigo-100:#c5cae9;
$mt-indigo-200:#9fa8da;
$mt-indigo-300:#7986cb;
$mt-indigo-400:#5c6bc0;
$mt-indigo-500:#3f51b5;
$mt-indigo-600:#3949ab;
$mt-indigo-700:#303f9f;
$mt-indigo-800:#283593;
$mt-indigo-900:#1a237e;
$mt-indigo-a100:#8c9eff;
$mt-indigo-a200:#536dfe;
$mt-indigo-a400:#3d5afe;
$mt-indigo-a700:#304ffe;
.mt-indigo-50 {
    color: $mt-indigo-50;
}

.bg-mt-indigo-50 {
    background-color: $mt-indigo-50;
}

.hover-bg-mt-indigo-50:hover {
    background-color: $mt-indigo-50;
}

.hover-mt-indigo-50:hover {
    color: $mt-indigo-50;
}

.mt-indigo-100 {
    color: $mt-indigo-100;
}

.bg-mt-indigo-100 {
    background-color: $mt-indigo-100;
}

.hover-bg-mt-indigo-100:hover {
    background-color: $mt-indigo-100;
}

.hover-mt-indigo-100:hover {
    color: $mt-indigo-100;
}

.mt-indigo-200 {
    color: $mt-indigo-200;
}

.bg-mt-indigo-200 {
    background-color: $mt-indigo-200;
}

.hover-bg-mt-indigo-200:hover {
    background-color: $mt-indigo-200;
}

.hover-mt-indigo-200:hover {
    color: $mt-indigo-200;
}

.mt-indigo-300 {
    color: $mt-indigo-300;
}

.bg-mt-indigo-300 {
    background-color: $mt-indigo-300;
}

.hover-bg-mt-indigo-300:hover {
    background-color: $mt-indigo-300;
}

.hover-mt-indigo-300:hover {
    color: $mt-indigo-300;
}

.mt-indigo-400 {
    color: $mt-indigo-400;
}

.bg-mt-indigo-400 {
    background-color: $mt-indigo-400;
}

.hover-bg-mt-indigo-400:hover {
    background-color: $mt-indigo-400;
}

.hover-mt-indigo-400:hover {
    color: $mt-indigo-400;
}

.mt-indigo-500 {
    color: $mt-indigo-500;
}

.bg-mt-indigo-500 {
    background-color: $mt-indigo-500;
}

.hover-bg-mt-indigo-500:hover {
    background-color: $mt-indigo-500;
}

.hover-mt-indigo-500:hover {
    color: $mt-indigo-500;
}

.mt-indigo-600 {
    color: $mt-indigo-600;
}

.bg-mt-indigo-600 {
    background-color: $mt-indigo-600;
}

.hover-bg-mt-indigo-600:hover {
    background-color: $mt-indigo-600;
}

.hover-mt-indigo-600:hover {
    color: $mt-indigo-600;
}

.mt-indigo-700 {
    color: $mt-indigo-700;
}

.bg-mt-indigo-700 {
    background-color: $mt-indigo-700;
}

.hover-bg-mt-indigo-700:hover {
    background-color: $mt-indigo-700;
}

.hover-mt-indigo-700:hover {
    color: $mt-indigo-700;
}

.mt-indigo-800 {
    color: $mt-indigo-800;
}

.bg-mt-indigo-800 {
    background-color: $mt-indigo-800;
}

.hover-bg-mt-indigo-800:hover {
    background-color: $mt-indigo-800;
}

.hover-mt-indigo-800:hover {
    color: $mt-indigo-800;
}

.mt-indigo-900 {
    color: $mt-indigo-900;
}

.bg-mt-indigo-900 {
    background-color: $mt-indigo-900;
}

.hover-bg-mt-indigo-900:hover {
    background-color: $mt-indigo-900;
}

.hover-mt-indigo-900:hover {
    color: $mt-indigo-900;
}

.mt-indigo-a100 {
    color: $mt-indigo-a100;
}

.bg-mt-indigo-a100 {
    background-color: $mt-indigo-a100;
}

.hover-bg-mt-indigo-a100:hover {
    background-color: $mt-indigo-a100;
}

.hover-mt-indigo-a100:hover {
    color: $mt-indigo-a100;
}

.mt-indigo-a200 {
    color: $mt-indigo-a200;
}

.bg-mt-indigo-a200 {
    background-color: $mt-indigo-a200;
}

.hover-bg-mt-indigo-a200:hover {
    background-color: $mt-indigo-a200;
}

.hover-mt-indigo-a200:hover {
    color: $mt-indigo-a200;
}

.mt-indigo-a400 {
    color: $mt-indigo-a400;
}

.bg-mt-indigo-a400 {
    background-color: $mt-indigo-a400;
}

.hover-bg-mt-indigo-a400:hover {
    background-color: $mt-indigo-a400;
}

.hover-mt-indigo-a400:hover {
    color: $mt-indigo-a400;
}

.mt-indigo-a700 {
    color: $mt-indigo-a700;
}

.bg-mt-indigo-a700 {
    background-color: $mt-indigo-a700;
}

.hover-bg-mt-indigo-a700:hover {
    background-color: $mt-indigo-a700;
}

.hover-mt-indigo-a700:hover {
    color: $mt-indigo-a700;
}
