$mt-pink-50:#fce4ec;
$mt-pink-100:#f8bbd0;
$mt-pink-200:#f48fb1;
$mt-pink-300:#f06292;
$mt-pink-400:#ec407a;
$mt-pink-500:#e91e63;
$mt-pink-600:#d81b60;
$mt-pink-700:#c2185b;
$mt-pink-800:#ad1457;
$mt-pink-900:#880e4f;
$mt-pink-a100:#ff80ab;
$mt-pink-a200:#ff4081;
$mt-pink-a400:#f50057;
$mt-pink-a700:#c51162;
.mt-pink-50 {
    color: $mt-pink-50;
}

.bg-mt-pink-50 {
    color: $mt-pink-50;
}

.hover-bg-mt-pink-50:hover {
    color: $mt-pink-50;
}

.hover-mt-pink-50:hover {
    color: $mt-pink-50;
}

.mt-pink-100 {
    color: $mt-pink-100;
}

.bg-mt-pink-100 {
    color: $mt-pink-100;
}

.hover-bg-mt-pink-100:hover {
    color: $mt-pink-100;
}

.hover-mt-pink-100:hover {
    color: $mt-pink-100;
}

.mt-pink-200 {
    color: $mt-pink-200;
}

.bg-mt-pink-200 {
    color: $mt-pink-200;
}

.hover-bg-mt-pink-200:hover {
    color: $mt-pink-200;
}

.hover-mt-pink-200:hover {
    color: $mt-pink-200;
}

.mt-pink-300 {
    color: $mt-pink-300;
}

.bg-mt-pink-300 {
    color: $mt-pink-300;
}

.hover-bg-mt-pink-300:hover {
    color: $mt-pink-300;
}

.hover-mt-pink-300:hover {
    color: $mt-pink-300;
}

.mt-pink-400 {
    color: $mt-pink-400;
}

.bg-mt-pink-400 {
    color: $mt-pink-400;
}

.hover-bg-mt-pink-400:hover {
    color: $mt-pink-400;
}

.hover-mt-pink-400:hover {
    color: $mt-pink-400;
}

.mt-pink-500 {
    color: $mt-pink-500;
}

.bg-mt-pink-500 {
    color: $mt-pink-500;
}

.hover-bg-mt-pink-500:hover {
    color: $mt-pink-500;
}

.hover-mt-pink-500:hover {
    color: $mt-pink-500;
}

.mt-pink-600 {
    color: $mt-pink-600;
}

.bg-mt-pink-600 {
    color: $mt-pink-600;
}

.hover-bg-mt-pink-600:hover {
    color: $mt-pink-600;
}

.hover-mt-pink-600:hover {
    color: $mt-pink-600;
}

.mt-pink-700 {
    color: $mt-pink-700;
}

.bg-mt-pink-700 {
    color: $mt-pink-700;
}

.hover-bg-mt-pink-700:hover {
    color: $mt-pink-700;
}

.hover-mt-pink-700:hover {
    color: $mt-pink-700;
}

.mt-pink-800 {
    color: $mt-pink-800;
}

.bg-mt-pink-800 {
    color: $mt-pink-800;
}

.hover-bg-mt-pink-800:hover {
    color: $mt-pink-800;
}

.hover-mt-pink-800:hover {
    color: $mt-pink-800;
}

.mt-pink-900 {
    color: $mt-pink-900;
}

.bg-mt-pink-900 {
    color: $mt-pink-900;
}

.hover-bg-mt-pink-900:hover {
    color: $mt-pink-900;
}

.hover-mt-pink-900:hover {
    color: $mt-pink-900;
}

.mt-pink-a100 {
    color: $mt-pink-a100;
}

.bg-mt-pink-a100 {
    color: $mt-pink-a100;
}

.hover-bg-mt-pink-a100:hover {
    color: $mt-pink-a100;
}

.hover-mt-pink-a100:hover {
    color: $mt-pink-a100;
}

.mt-pink-a200 {
    color: $mt-pink-a200;
}

.bg-mt-pink-a200 {
    color: $mt-pink-a200;
}

.hover-bg-mt-pink-a200:hover {
    color: $mt-pink-a200;
}

.hover-mt-pink-a200:hover {
    color: $mt-pink-a200;
}

.mt-pink-a400 {
    color: $mt-pink-a400;
}

.bg-mt-pink-a400 {
    color: $mt-pink-a400;
}

.hover-bg-mt-pink-a400:hover {
    color: $mt-pink-a400;
}

.hover-mt-pink-a400:hover {
    color: $mt-pink-a400;
}

.mt-pink-a700 {
    color: $mt-pink-a700;
}

.bg-mt-pink-a700 {
    color: $mt-pink-a700;
}

.hover-bg-mt-pink-a700:hover {
    color: $mt-pink-a700;
}

.hover-mt-pink-a700:hover {
    color: $mt-pink-a700;
}